{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{#{% block title %} | Welcome {% endblock %}#}
{% block content %}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ listing.title }}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ listing.address }}2</p>
        </div>
      </div>
    </div>
  </section>

    <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <div class="row">
        <h1 style="font-size: 2rem">Фото описание заявки</h1>
        <div class="col-md-12">
          <div class="row">
            <div class="column">
              <img src="{{ listing.photo_description_1.url }}" alt="" style="width:100%; height: 350px">
            </div>
            <div class="column">
              <img src="{{ listing.photo_description_2.url }}" alt="" style="width:100%;height: 350px">
            </div>
          </div>
          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  Название:
                  <span class="float-right">{{ listing.title }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Дата создания:
                  <span class="float-right">{{ listing.created_date | naturaltime }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Статус:
                  <span class="float-right">{{ listing.status }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Адрес:
                  <span class="float-right">{{ listing.address }}</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  Дата окончания:
                  {% if listing.status == 'completed' %}
                    <span class="float-right">{{ listing.closed_date }}</span>
                  {% else %}
                    <span class="float-right">Not closed yet</span>
                  {% endif %}
                </li>
                <li class="list-group-item text-secondary">
                  Количество комментариев:
                  <span class="float-right">{{ listing.num_of_comments }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Всего оценок:
                  <span class="float-right">{{ listing.num_of_rates }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Средняя оценка:
                  <span class="float-right">{{ listing.average_rate }}</span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12 bg-success text-dark p-3 rounded align-content-center">
              <h1 style='text-align: center;font-size: 1.5rem'>Описание</h1>
              {{ listing.description }}
            </div>
          </div>
          <h1 style="font-size: 2rem">Фото отчет сделанной работы</h1>
          {% csrf_token %}
          <div class="rating-stars">
            <a class="b1" href="{% url 'rate' listing.id  1 %}"><i class="fas fa-star"></i></a>
            <a class="b2" href="{% url 'rate' listing.id  2 %}"><i class="fas fa-star"></i></a>
            <a class="b3" href="{% url 'rate' listing.id  3 %}"><i class="fas fa-star"></i></a>
            <a class="b4" href="{% url 'rate' listing.id  4 %}"><i class="fas fa-star"></i></a>
            <a class="b5" href="{% url 'rate' listing.id  5 %}"><i class="fas fa-star"></i></a>
          </div>
          <div class="row">
            {% if listing.status == 'completed' %}
              <div class="column">
              <img src="{{ listing.photo_result_1 }}" alt="" style="width:100%">
            </div>
            <div class="column">
              <img src="{{ listing.photo_result_2 }}" alt="" style="width:100%">
            </div>
            {% else %}
            {% endif %}
            {% if listing.photo_result_1 and listing.photo_result_2%}
              <div class="column">
                <img src="{{ listing.photo_result_1 }}" alt="" style="width:100%; height: 350px">
              </div>
              <div class="column">
                <img src="{{ listing.photo_result_2 }}" alt="" style="width:100%; height: 350px">
              </div>
            {% else %}
              <div class="column">
                <img src="{% static 'img/not-completed.jpg' %}" alt="" style="width:100%; height: 350px">
              </div>
              <div class="column">
                <img src="{% static 'img/not-completed.jpg' %}" alt="" style="width:100%; height: 350px">
            </div>
            {% endif %}
          </div>
        </div>

        <!-- Comments -->

        <div class="comment-container">
          <ul class="comment-section">
            {% if comments %}
              {% for comment in comments %}
              <li class="comment user-comment">
              <div class="info">
                <a href="#">{{ comment.user.username }}</a>
                <span>{{ comment.created_date | naturaltime }}</span>
              </div>
              <div style="margin: 10px;">
              </div>
              <p>{{ comment.body }}</p>
            </li>
              {% endfor %}
            {% else %}
            {% endif %}
{#            <li class="comment author-comment">#}
{#              <div class="info">#}
{#                <a href="#">Jack Smith</a>#}
{#                <span>3 hours ago</span>#}
{#              </div>#}
{#              <a class="avatar" href="#">#}
{#                <img src="images/avatar_author.jpg" width="35" alt="" title="Jack Smith" />#}
{#              </a>#}
{#              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida sem sit amet molestie#}
{#                portitor.#}
{#              </p>#}
{#            </li>#}

            <li class="write-new" style="margin: 0 150px">
              <form action="{% url 'comment' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <textarea placeholder="Комментарий" name="comment"></textarea>
                <div>
                  <button type="submit" value="Send" style="background: #10284e">Отправить</button>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}